@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'tailwindcss'; */
/* @import 'tw-animate-css'; */

@layer base {
  :root {
    --safe-area-inset-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh));
   
    --background: #eaedee;
    --foreground: #494a4a;

    --muted: #8f8f8f;
    --muted-foreground: #cecece;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: #fefefe;
    --card-foreground: #0e151d;

    --primary: #ff6719;
    --primary-foreground: #fff;

    --secondary: #c1d0d5;
    --secondary-foreground: #19232f;

    --accent: #ffffff;
    --accent-foreground: #f8f8f8;

    --destructive: #d00000;
    --destructive-foreground: #ffffff;

    --ring: #4c4847;
    --border: #3b3b3b;
    --input: #ff3300;

    --radius: 0.5rem;
  }

  .dark {
    --background: #18222e;
    /* --background: #272727; */
    --foreground: #ffffff;

    --muted: #717171;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: #1c2937;
    /* --card: #181818; */
    --card-foreground: #ffff;

    /* --primary: #ff6719; */
    --primary: #ff6719;
    --primary-foreground: #fff;

    --secondary: #282828;
    --secondary-foreground: #f8f8f8;

    --accent: #222525;
    --accent-foreground: #f8f8f8;

    --destructive: #d00000;
    --destructive-foreground: #ffffff;

    --ring: #2a333c;
    --border: #2a333c;
    --input: #151718;
    --tw-shadow: #545353;
    --radius: 0.5rem;
  }
  body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Fira Mono', serif; */
    /* background: var(--tg-theme-secondary-bg-color, #363637); */
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  /* Preserve scrolling behavior */
  overflow-y: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  -ms-content-zooming: none;
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
}

html,
body {
  overscroll-behavior: none;
}
body {
  -ms-content-zooming: none;
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
  /* background: var(--tg-theme-secondary-bg-color, #18222e); */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
